* {
    max-width:100%;
}

main{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.ride {
    height: 100vh;
}

.ride-request {
    position: absolute;
    display: flex;
    justify-content: center ;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.ride-request--search {
    height: 340px;
    width: 450px;
    background-color: whitesmoke;
    padding: 0.5rem;
    min-width: 300px;
}
.ride-request--confirm {
    height: fit-content;
    width: 450px;
    background-color: whitesmoke;
    padding: 0.5rem;
    min-width: 300px;
}

.ride-request--confirm textarea, .ride-request--confirm textarea:focus {
    height: 100px;
}

.map-container {
    width: 450px;
    height: 420px;
    min-width: 300px;
}

/* .image-container {

} */

.hero-img {
    width: 100%;
    height: 100%;
    z-index: 0;
}


.input-search, .flatpickr-input {
    width: 450px;
    height: 50px;
    padding: 10px 30px ;
    border: 0;
}
.input-search:focus, .flatpickr-input:focus {
    outline: none;
}

.input-extra, .input-extra:focus {
    width: 400px;
    height: 30px;
    padding: 10px 10px ;
    border: 0;
    margin-top: 10px;
    margin-left: 35px; 
    outline: none;
}


.search-icon {
    position: absolute;
    margin-right: 410px;
    margin-top: 10px;

}

.btn-book {
    width: 450px;
    height: 80px;
    font-size: large;
    border: 0;
    background-color: rgb(150, 209, 225);
}
.btn-book:hover {
    background-color: whitesmoke;
}

.book-title {
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
}

.confirm-title {
    height: 30px;
    font-weight: 600;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 600;
}
.navbar-brand img {
    margin-right: 10px;
}

.btn-clear {
    position: absolute;
    height: 50px;
    border: 0;
    background-color: white;
    width: 50px;
}
.btn-clear:hover {
    color: darkgray;
}

.wrapper {
    position: relative;
}

.search-container-from {
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    position: relative;
}
.search-container-to {
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    position: relative;
    top: 15px;
    margin-bottom: 20px;
}

.suggestions {
    z-index: 500;
    height: auto;
    background-color: whitesmoke;
    position: absolute;
}

.suggestions li {
    list-style-type: none;
    height: 50px;
    padding: 5px;
    color: rgb(94, 94, 94);
}
.suggestions li:hover {
    background-color: darkgray;
    color: black;
}

.divider {
    background-color: black;
    height: 2px;
    
}